@media screen and (max-width: 900px){
	header #menu{
		height: 100%;
		position: fixed;
		background: #0040FF;
		top: 0px;
		left: -40px;
		width: 300px;
		margin: 0px auto;
	}
	header #menu ul a{
		display: block;
	}
	#abrir_menu{
		display: block;
	}
	header #menu nav{
		display: block;
	}
}
@media screen and (max-width: 450px){
	header #menu{
		width: 69%;
	}

}
