@media screen and (max-width: 900px){
	header #menu{
		height: 100%;
		position: fixed;
		background: #0040FF;
		top: 20px;
		left: -40px;
		width: 300px;
		margin: 0px auto;
	}
	header #menu ul a{
		display: block;
	}

}
